<%- include('../partials/header')%>

<h1>New Ticket</h1>
<form id="add-ticket-form" method="POST" action="/flights/<%=flightId%>/tickets">
    <label>Seat:
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    </label>
    <label>Price:
        <input type="text" name="price"> 
    </label>
    <button type='submit' form='add-ticket-form'>Submit</button>
</form>